[Unit]
Description=misell-player update checker
After=network-online.target misell-player.service
Wants=network-online.target misell-player.service

[Service]
Type=oneshot
Environment=MISELL_HOME=__MISELL_HOME__
EnvironmentFile=-%h/.config/misell-player/env
ExecStart=__MISELL_HOME__/scripts/check-update.sh
