[Unit]
Description=misell-player remote command runner timer

[Timer]
OnBootSec=120
OnUnitActiveSec=60
AccuracySec=15
Unit=misell-command-runner.service

[Install]
WantedBy=timers.target
